<nav class="logo-container">
  <h3 class="logo">Prodapt</h3>

  <div class="nav-btn">
    <div class="nav-links">
      <ul>
        <li class="nav-link" style="--i: 0.85s">
          <a href="home-page">Home<i class="fas fa-caret-down"></i></a>
        </li>
        <li class="nav-link" style="--i: 0.85s">
          <a href="buy-car">List Cars<i class="fas fa-caret-down"></i></a>
        </li>

        <li class="nav-link" style="--i: 1.1s">
          <a href="/sell-car">List Driver<i class="fas fa-caret-down"></i></a>
        </li>

        <li class="nav-link" style="--i: 1.35s">
          <a href="about-us">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="log-sign" style="--i: 1.8s">
    <a href="login-prompt" class="btn transparent"><b>Login</b></a>

    <a href="customer-signup" class="btn solid"><b>Signup</b></a>
  </div>
</nav>
<router-outlet></router-outlet>
