<body>
  <div class="outer">
    <div class="box">
      <button class="button" [routerLink]="['/driver-list']">
        Driver List
      </button>
      <div class="box">
        <button class="button"routerLink="/add-driver-list">Add Driver</button>
      </div>
    </div>
  
    <div class="box">
      <button class="button" [routerLink]="['/car-list']">Vehicle List</button>
      <div class="box">
        <button class="button"routerLink="/app-add-car">Add Vehicle</button>
      </div>
    </div>

    <div class="box">
      <button class="button" [routerLink]="['/booking-list']">
        Booking List
      </button>
      <div class="box">
        <button class="button"routerLink="/add-booking">Add booking</button>
      </div>
    </div>
  </div>
</body>
